@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono", monospace;
}
/* banner section style */
.banner-section-container{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url('../image/hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 74px;
}
.banner-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 26px;
}
.banner-contant img{
    width: 240.28px;
    height: 240px;
}
.banner-contant h1{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    line-height: 68px;
    margin-top: 32px;
}
.banner-contant p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
    margin-top: 24px;
}
.banner-button button{
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    margin-top: 32px;
}
/* WebDev-section-container style */

.WebDev-section-container{
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;

}
.top-heading h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}
.top-heading p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 96px;
}
.webDev-second-content{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    gap: 100px;
}
.second-section-left{
    padding-left: 30px;
} 
.second-section-left h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}
.second-section-left p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 30px;
}
.second-section-left button{
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}

.WebSystem-section-container{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 32px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 30px;
}
.WebSystem-section-right h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}
.WebSystem-section-right p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 30px;
}
.WebSystem-section-right button{
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
.WebSystem-section-right{
    width: 477px;
    height: 220px;
    margin: 0 100px 0 0;
}
/* Inspiration-section-container style */
.Inspiration-section-container{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 88px;
    margin-bottom: 150px;
}
.Inspiration-content{
    padding: 0 140px 0 140px;
}
.Inspiration-section-container h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}
.Inspiration-section-container p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.Inspiration-video-section{
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-top: 48px;
}
.Inspiration-video-content{
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-top: 48px;
    padding: 32px;
    
}
.Inspiration-video iframe{
    width: 1076px;
    height: 550px;
    border-radius: 16px; 
}
/* CurrentTarget-section-container style */

.CurrentTarget-section-container{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
}
.CurrentTarget-content-title{
    padding: 0 90px 0 90px;
}
.CurrentTarget-section-container h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
}
.CurrentTarget-section-container p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 40px;
}
.CurrentTarget-content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
.CurrentTarget-box1{
    width: 364px;
    height: 299px;
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.CurrentTarget-box1 h2{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin-bottom: 8px;
}
.CurrentTarget-box1 h5{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 24px;
}
.CurrentTarget-box1 button{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
}
.CurrentTarget-box1 img{
    margin-bottom: 24px;
}
.different-color2{
    background: rgba(0, 76, 232, 0.05);
}
.different-color3{
    background: rgba(255, 223, 0, 0.05);
}
/* support-section-container */
.support-section-container{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    border-radius: 16px;
    border-radius: 16px;
    background-image: url('../image/hansake.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 64px 48px 64px 48px;
    margin-top: 80px;
    
}
.support-section-content{
    width: 1044px;
    height: 186px;
    margin: 0 auto;
    background:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%);
    
}
.support-section-content h1{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}
.support-section-content p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}
label input{
    width: 540px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin-top: 40px;
    margin-left: 100px;  
}

input[type="text"]{
    height: 55px;
    border-radius: 5px;
    background-color: white;
    width: 50%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 18px;
}
input{
    width: 120px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    border: none;   
    cursor: pointer;
}
.footer-section-container{
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    margin-top: 79px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.foot-section-contain{
    display: flex;
    gap: 500px;
    padding: 32px 150px 32px 150px;
}
.footer-section-container h4{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
}
.social-icon img{
    padding: 0 6px;
}